# Test profile
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:

  h2:
    console:
      enabled: false

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: create-drop

server:
  port: 8083

logging:
  level:
    com.learning.recipeapi: INFO

app:
  name: Recipe API (Test)