# Development profile
spring:
  datasource:
    url: jdbc:h2:mem:recipedb
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop

server:
  port: 8082

logging:
  level:
    com.learning.recipeapi: DEBUG